body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f1f3f6;
  margin: 0;
  padding: 0;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.sidebar {
  width: 220px;
  background-color: #2f4050;
  color: #fff;
  padding: 30px 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar .logo img {
  width: 32px;
  height: 32px;
}

.sidebar .logo h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebarItems{
  margin: 20px 0;
}

.sidebarItems a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: #cfd8dc;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.sidebar ul li a:hover {
  background-color: #1ab394;
  color: #ffffff;
}

.sidebar ul li a img {
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}
.logout{
  margin: 20px 0;
} 

.logout a{
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  margin-bottom: 50px;
  min-width: 188px;
  gap: 12px;
  padding: 12px 16px;
  text-decoration: none;
  color: #cfd8dc;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.main-content {
  margin-left: 240px;
  padding: 40px;
  width: calc(100% - 240px);
}
