body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  color: #333;
}

main {
  padding: 20px;
}

header {
  background: linear-gradient(90deg, #227dd2, #62acf1);
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 50px;
}

.leftSide .logo a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.logoImg {
  width: 40px;
  height: auto;
  margin-right: 10px;
  cursor: pointer;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigateEle {
  margin-left: 20px;
  margin-top: 10px;
}

.navigateEle a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navigateEle a:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  margin-left: 20px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 140px;
  z-index: 9999;
}
.dropdown img{
  height: 20px;
  width: 30px;
  margin-right: 10px;
  margin-top: 13px;
  cursor: pointer;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu li a {
  font-size: 0.85rem;
  font-weight: bold;
  color: #135592;
  text-decoration: none;
  display: block;
  padding: 5px;
}

.dropdown-menu li a:hover {
  background-color: #f2f2f2;
}

main {
  padding: 20px;
}

.headerPic {
  text-align: center;
}

.headerPic img {
  max-width: 100%;
  border-radius: 10px;
  margin-top: 15px;
}

footer {
  background-color: #135592;
  color: white;
  text-align: center;
  padding: 20px 10px;
  margin-top: 40px;
}

footer a {
  color: #ffd700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
